@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@layer base {
  h1.ce-header {
    font-size: var(--text-4xl);
  }
  h2.ce-header {
    font-size: var(--text-2xl);
  }
  h3.ce-header {
    font-size: var(--text-xl);
  }
}
